@import "tailwindcss";

:root {
    --primary-color: #fff;
    --secondary-color: #F1C40E;
    --text-color: #000;
    --grey-color: #9E9E9E;

    background-color: var(--text-color);
}


body {
    background-color: var(--primary-color);
    min-height: 100vh;
    margin: 0 auto;
    max-width: 25rem;

    position: relative;
}

.titleSecondLine {
    display: block;
}

.PageHeaderMenu {
    display: flex;
    justify-content: space-between;
}

.secondLogoTitle{
display: flex;
position: relative;
.Line{
margin: 1rem 0.5rem 0 0;

    display: block;
    width: 2.5rem;
    height: 0.2rem;
    background: #000;
    border-radius: 0.1rem;
  }
}