@import "tailwindcss";

:root {
--primary-color: #fff;
--secondary-color: #F1C40E;
--text-color : #000 ;
}


body {
    background-color: var(--secondary-color);
    margin: 0 auto;
max-width: 25rem;
}
