@import "tailwindcss";

:root {
--primary-color: #fff;
--secondary-color: #F1C40E;
--text-color : #000 ;

background-color: var(--text-color);
}


body {
    background-color: var(--primary-color);
    margin: 0 auto;
max-width: 25rem;

	position: relative;
}

    .titleSecondLine {
        display: block;
    }
