.bg1 {
    background-image: url("../../public/images/welcome1.png");
}

.bg2 {
    background-image: url("../../public/images/welcome2.png")
}

.background-image-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    /* to make sure it doesn't flow over the app size and to make she it's the correct height */
    overflow: hidden;
    height: 45.6rem;



    /* grid css */
    display: grid;
    grid-template-columns: repeat(3, minmax(3, 1fr));
    grid-template-rows: repeat(10, 1fr);

}


.loader-content-container {
    grid-area: 8/1/9/5;
padding: 0 0 0 10%;

    h1 {
        color: var(--secondary-color);
        font-weight: bold;

        font-size: 3rem;
    }

    .titleSecondLine {
        display: block;
    }

    h2 {
        color: var(--primary-color);

    }
}



/* row start, colum start,row end, column end */

.BtnToHomeFromLoader {
    grid-area: 10/2/10/3;

    max-height: 3rem;
    padding: 0.6rem 0 0 0;
    box-sizing: border-box;
    border-radius: 5rem;


    text-align: center;
    font-weight: 500;
    color: var(--text-color);
    background-color: var(--secondary-color);
}