
.HomeHeaderContent {
    max-width: 22rem;
    margin: 0 auto;

}

.TitleContainerHomeHeader {
    max-width: 10rem;

    h1 {
        color: var(--secondary-color);
        font-weight: bold;
        font-size: 2rem;
    }
}



.HomeHeaderBtnContainer {
    max-width: 20rem;

    display: flex;
    gap: 1rem;

    button {
        background-color: var(--secondary-color);
        color: var(--text-color);

        font-weight: 500;
        font-size: 0.8rem;

        padding: 0.3rem 1.5rem;
        border-radius: 5rem;

    }
}