.PageHeaderMenu{
    max-width: 23rem;
    margin: 0 auto;
  padding: 2rem 0 1rem 0;
  .back-link {
      display: flex;
      align-items: center; 
      gap: 10%;
      
    }
    & h1 {
  margin: 0; 
  font-size: 1.5rem;
  font-weight: 500;
}
}
